.git/

.config/tmux/plugins

state.yml

# nvim
.config/nvim/lua/plugins/example.lua
.config/nvim/.gitignore
.config/nvim/.neoconf.json
.config/nvim/LICENSE
.config/nvim/README.md
.config/nvim/init.lua
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/nvim/stylua.toml

 *.jpg
 *.png
